.topnav {
  background-color: #333;
  /*background-color: rgba(31,31,31,0.75);*/
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
  transition-duration:400ms;
  /*border-right:1px rgba(255,255,255,0.75) solid;*/
}

.topnav a:last-child, .topnav a:first-child {
  border-right:none;
}

.topnav a:hover {
  background-color: #dadada;
  background-color: rgba(186,186,186,.75);
  color: black;
  transition-duration:400ms;
}

.topnav a.active {
  background-color: #7289da;
  color: white;
}

/*Highlight*/
::selection { color:#e7e7e7; background-color:#008EBF; }
/* width */
::-webkit-scrollbar { width: 10px; }
/* Handle */
::-webkit-scrollbar-thumb { background: #888; }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #555; }
